* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #91d6e0;
  overflow-x: hidden;
}

header {
  background-color: #239fb4;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

header img {
  width: 140px;
  height: auto;
}

.main-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
    background-color: #a4d6e1;
    margin: 0;
    border-radius: 0;
}


.welcome-message {
  flex: 1;
  z-index: 2;
  color: #03424f;
}

.welcome-message h1 {
  font-size: 2.2em;
  color: #239FB4;
  font-weight: 900;
}

.welcome-message h2 {
  font-size: 2.5em;
  color: #fff;
  font-weight: 100;
  margin-bottom: 20px;
}

.welcome-message p {
  background-color: #1e6b7a;
  color: white;
  padding: 20px;
  border-radius: 15px;
  max-width: 400px;
  font-size: 1.1em;
  line-height: 1.5em;
}

.dog-image {
  flex: 0;
  margin: 0 40px;
  display: flex;
  justify-content: center;
}

.dog-image img {
  max-width: 350px;
}

footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  background-color: #239fb4;
}

footer button {
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.3s;
}

.contact-button {
  background-color: #ffd740;
  color: #000;
}

.adopt-button {
  background-color: #ff5722;
  color: white;
}

footer button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.adote-section {
  background-image: url("../img/background.png");
  padding: 50px 20px;
  text-align: center;
}

.adote-section h2 {
  font-size: 2em;
  color: #1e6b7a;
}

.adote-section h3 {
  font-size: 3em;
  color: white;
  margin-bottom: 10px;
}

.adote-section p {
  background-color: #239fb4;
  display: inline-block;
  padding: 15px 25px;
  color: white;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 1.2em;
}

.pets-gallery {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.contact {
  width: 34%;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s;
}

.pets-gallery img {
  width: 34%;
  border-radius: 10px;
  object-fit: cover;
  border: 2px solid #239fb4;
  transition: transform 0.3s;
}

.pets-gallery img:hover {
  transform: scale(1.02);
}